@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
    font-family: 'Josefin Sans', sans-serif;
}
body{
    margin: 0;
    padding: 0%;
    background-color: #081c3a;
}

::selection {
    color: rgb(255, 136, 0);
    background: rgba(19, 19, 19, 0)
}

h1{
    margin: 0 0 60px 0;
    font-family: 'Press Start 2P', cursive;
    font-size: 50px;
    letter-spacing: 5px;
    color: #1B4965;
    text-shadow: 1px 0#62B6CB,
                0 1px#62B6CB,
                -1px 0#62B6CB,
                0 -1px#62B6CB;
}

.cover{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.block{
    height: 60%;
    width: 75%;
    max-width: 550px;
    max-height: 700px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    /* background: linear-gradient(145deg, #00b4be, #00d6e2); */
    background: #081c3a;
    box-shadow: inset 5px 5px 18px #030b17,
                inset -5px -5px 18px #0d2d5d;
}

form > p,input,.outs{
    margin: 35px;
}

p{
    margin: 0;
    font-size: 35px;
    color: #adadad;
}

.holder{
    height: 40px;
    font-size: 25px;
    font-family: monospace;
    width: 60%;
}

.submit{
    margin: 15px;
    height: 30px;
    width: 150px;
    font-size: 17px;
    background-color: #b9c5cc;
}

.dataB{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.outs{
    margin-top: 70px;
    transform: translatex(-150px);
    height: 50px;
    width: 200%;
    
}

@media only screen and (max-width: 640px) {
    .holder{
        max-width: 220px;
    }
    .outs{
        transform: translatex(-25px);
        /* width: 260px; */
        width: 80%;
    }

}
@media only screen and (max-width: 440px) {
    form>p{
        font-size: 20px;
    }
}
