<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortner</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="cover">
        <h1>URL Shortner</h1>
        <div class="block">
            <form class="dataB" action="/result" method="post">
                <p>Enter your url below</p>
                <!-- <label for="url">Enter your url</label> -->
                <input class="holder" type="text" name="name" id="name">
                <input class="submit" type="submit">
                <div>
                    {% if tinyy %}
                    <input onclick="setClipboard('{{tinyy}}')" class="outs" type="text" placeholder="" value="{{tinyy}}">
                    {% endif %}

                </div>
            </form>
        </div>
    </div>
</body>
<script>
    function setClipboard(value) {
        var tempInput = document.createElement("input");
        tempInput.value = value;
        document.body.appendChild(tempInput);
        tempInput.select();
        document.execCommand("copy");
        document.body.removeChild(tempInput);
        alert('Copied to clipboard');
    }
</script>
</html>

